Repository sm8450-mainline/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

Path conditions:
  wiki: any of: .ci/**/*, .ci/build-jobs.yaml.j2, .gitlab-ci.yml, device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*, .ci/build-jobs.yaml.j2, .gitlab-ci.yml
  kernel-kconfig: (any of: kconfigcheck.toml) or (any of: device/*/linux-*/config-*)

linux-postmarketos-grate: upgrade to 6.16.0
  device/community/linux-postmarketos-grate/APKBUILD
  device/community/linux-postmarketos-grate/config-postmarketos-grate.armv7
Due: kernel-kconfig

linux-postmarketos-rockchip-rk3588: compress modules
  device/testing/linux-postmarketos-rockchip-rk3588/APKBUILD
  device/testing/linux-postmarketos-rockchip-rk3588/config-postmarketos-rockchip-rk3588.aarch64
Due: kernel-kconfig

linux-postmarketos-rockchip-rk3588: disable CONFIG_RELR
  device/testing/linux-postmarketos-rockchip-rk3588/APKBUILD
  device/testing/linux-postmarketos-rockchip-rk3588/config-postmarketos-rockchip-rk3588.aarch64
Due: kernel-kconfig

linux-samsung-crownlte: backport statx syscall,
  device/downstream/linux-samsung-crownlte/07-statx-add-system-call-to-make-advanced-file-info-available.patch
  device/downstream/linux-samsung-crownlte/08-generic-syscall-wire-up-statx-syscall.patch
  device/downstream/linux-samsung-crownlte/APKBUILD
  device/downstream/linux-samsung-crownlte/config-samsung-crownlte.aarch64
Due: kernel-kconfig

systemd/postmarketos-base-systemd: enable cellbroadcastd.service
  extra-repos/systemd/postmarketos-base-systemd/APKBUILD
  extra-repos/systemd/postmarketos-base-systemd/rootfs-usr-lib-systemd-user-preset-90-base.preset
Due: none

systemd/systemd-services: add user-cellbroadcastd.service
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/user-cellbroadcastd.service
Due: none

device-huawei-angler: take over maintainership
  device/testing/device-huawei-angler/APKBUILD
Due: wiki

device-lg-bullhead: take over maintainership
  device/testing/device-lg-bullhead/APKBUILD
Due: wiki

linux-next: upgrade to next-20250812
  device/testing/linux-next/APKBUILD
Due: none

linux-postmarketos-qcom-sm8150: Upgrade to v6.16.0
  device/testing/linux-postmarketos-qcom-sm8150/APKBUILD
  device/testing/linux-postmarketos-qcom-sm8150/config-postmarketos-qcom-sm8150.aarch64
Due: kernel-kconfig

device-xiaomi-nabu: remove cmdline and microphone hacks
  device/testing/device-xiaomi-nabu/APKBUILD
  device/testing/device-xiaomi-nabu/HiFi.conf
  device/testing/device-xiaomi-nabu/deviceinfo
Due: wiki

Revert "systemd: Don't ship /usr/share/factory"
  extra-repos/systemd/systemd/APKBUILD
Due: none

linux-next: upgrade to next-20250813
  device/testing/linux-next/APKBUILD
Due: none

device-samsung-i9100: set console=ttySAC2 in cmdline
  device/testing/device-samsung-i9100/APKBUILD
  device/testing/device-samsung-i9100/deviceinfo
Due: wiki

pine64-pinephone: move alsa config under /usr
  device/community/device-pine64-pinephone/APKBUILD
Due: wiki

modem/qcom-diag: update and make consistent with systemd
  modem/qcom-diag/APKBUILD
  modem/qcom-diag/diag-router.initd
Due: none

build-jobs: use parallel:matrix instead of copy-pasting job definitions
  .ci/build-jobs.yaml.j2
  .ci/lib/generate_build_jobs.py
Due: wiki, ruff

samsung-beyond1lte: kernel update
  device/downstream/device-samsung-beyond1lte/APKBUILD
  device/downstream/device-samsung-beyond1lte/deviceinfo
  device/downstream/linux-samsung-beyond1lte/APKBUILD
  device/downstream/linux-samsung-beyond1lte/config-samsung-beyond1lte.aarch64
  device/downstream/linux-samsung-beyond1lte/fix-check-lxdialog.patch
  device/downstream/linux-samsung-beyond1lte/remove-header-lkc.patch
Due: wiki, kernel-kconfig

device-lenovo-manning: new device
  device/downstream/device-lenovo-manning/APKBUILD
  device/downstream/device-lenovo-manning/deviceinfo
  device/downstream/linux-lenovo-manning/APKBUILD
  device/downstream/linux-lenovo-manning/Include-cust.dtsi-created-by-DrvGen-instead-of-runni.patch
  device/downstream/linux-lenovo-manning/config-lenovo-manning.aarch64
  device/downstream/linux-lenovo-manning/fix-check-lxdialog.patch
  device/downstream/linux-lenovo-manning/gcc10-extern_YYLOC_global_declaration.patch
  device/downstream/linux-lenovo-manning/linux3.7to4.5-ARM64-remove-Sun-Solaris-style-flag-on-section.patch
  device/downstream/linux-lenovo-manning/use_system_dtc.patch
Due: wiki, kernel-kconfig

lenovo-21bx: enable GNOME fractional-scaling and clean up APKBUILD
  device/community/device-lenovo-21bx/01_device-lenovo-21bx.override
  device/community/device-lenovo-21bx/APKBUILD
Due: wiki

linux-next: upgrade to next-20250814
  device/testing/linux-next/APKBUILD
Due: none

systemd/plasma*: enable on armv7
  extra-repos/systemd/kscreenlocker/APKBUILD
  extra-repos/systemd/kwin/APKBUILD
  extra-repos/systemd/plasma-workspace/APKBUILD
Due: none

systemd/systemd-services: add speakersafetyd.service
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/system-speakersafetyd.service
Due: none

main/postmarketos-ui-retroarch: new aport
  main/postmarketos-ui-retroarch/APKBUILD
  main/postmarketos-ui-retroarch/postmarketos-ui-retroarch-openrc.post-install
  main/postmarketos-ui-retroarch/postmarketos-ui-retroarch-openrc.post-upgrade
  main/postmarketos-ui-retroarch/postmarketos-ui-retroarch.sh
  main/postmarketos-ui-retroarch/retroarch.initd
Due: none

linux-next: upgrade to next-20250815
  device/testing/linux-next/APKBUILD
Due: none

systemd/networkmanager: upgrade to 1.54.0
  extra-repos/systemd/networkmanager/APKBUILD
Due: none

systemd/networkmanager: disable lto for armv7
  extra-repos/systemd/networkmanager/APKBUILD
Due: none

cross/musl-*: upgrade to 1.2.5-r19
  cross/musl-aarch64/APKBUILD
  cross/musl-armhf/APKBUILD
  cross/musl-armv7/APKBUILD
  cross/musl-riscv64/APKBUILD
  cross/musl-x86/APKBUILD
  cross/musl-x86_64/APKBUILD
Due: none

systemd/phosh: upgrade to 0.49.0
  extra-repos/systemd/phosh/APKBUILD
Due: none

systemd/systemd-services: add user-xdg-desktop-portal-phrosh.service
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/user-xdg-desktop-portal-phrosh.service
Due: none

main/postmarketos-ui-phosh: depend on cellbroadcastd
  main/postmarketos-ui-phosh/APKBUILD
Due: none

community/soc-qcom: make pd-mapper optional
  device/community/soc-qcom/APKBUILD
  device/community/soc-qcom/soc-qcom-openrc.post-install
  device/community/soc-qcom/soc-qcom-pd-mapper-openrc.post-install
  device/community/soc-qcom/soc-qcom-pd-mapper-openrc.post-upgrade
Due: none

*/*: make all users of soc-qcom depend on soc-qcom-pd-mapper
  device/community/device-google-bonito/APKBUILD
  device/community/device-google-sargo/APKBUILD
  device/community/device-oneplus-enchilada/APKBUILD
  device/community/device-oneplus-fajita/APKBUILD
  device/community/device-samsung-starqltechn/APKBUILD
  device/community/device-shift-axolotl/APKBUILD
  device/community/device-xiaomi-beryllium/APKBUILD
  device/testing/device-qualcomm-sdm845/APKBUILD
  device/testing/device-xiaomi-perseus/APKBUILD
  device/testing/device-xiaomi-polaris/APKBUILD
  device/testing/device-xiaomi-pyxis/APKBUILD
  device/testing/soc-qcom-msm8998/APKBUILD
Due: wiki

treewide: rebuild against libdisplay-info-0.3.0
  extra-repos/systemd/kwin/APKBUILD
  extra-repos/systemd/mutter-mobile/APKBUILD
  extra-repos/systemd/mutter/APKBUILD
  temp/mutter-mobile/APKBUILD
Due: none

wl1251-cal: support systemd
  device/community/wl1251-cal/APKBUILD
  device/community/wl1251-cal/wl1251-cal.service
Due: none

systemd/postmarketos-base-systemd: enable N900's wl1251-cal service
  extra-repos/systemd/postmarketos-base-systemd/APKBUILD
  extra-repos/systemd/postmarketos-base-systemd/rootfs-usr-lib-systemd-system-preset-90-base.preset
Due: none

systemd/systemd-services: only start q6voiced if config exists
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/system-q6voiced.service
Due: none

device-odroid-xu4: depend on firmware-odroid-xu4
  device/community/device-odroid-xu4/APKBUILD
Due: wiki

firmware-odroid-xu4: put s5p-mfc and rtl_nic deps in _pmb_recommends
  device/community/firmware-odroid-xu4/APKBUILD
Due: none

device-odroid-u2: depend on firmware-odroid-u2 and clean up cmdline
  device/testing/device-odroid-u2/APKBUILD
  device/testing/device-odroid-u2/deviceinfo
Due: wiki
