Repository sm8450-mainline/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

wiki:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/wiki.sh

ruff:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/ruff.sh

kernel-kconfig:
  stage: lint
  script:
  - .ci/lib/gitlab_prepare_ci.sh
  - .ci/kconfig.sh

qemu-aarch64: add hwci support
  device/main/device-qemu-aarch64/gitlab-ci.yml.j2
Due: wiki

firmware-asus-s5507q: remove ath12k firmware override
  device/testing/firmware-asus-s5507q/APKBUILD
  device/testing/firmware-asus-s5507q/wifi.files
Due: none

device-samsung-gts210lte: deviceinfo: drop un-needed variables
  device/downstream/device-samsung-gts210lte/APKBUILD
  device/downstream/device-samsung-gts210lte/deviceinfo
Due: wiki

linux-samsung-gts210lte: set console=ttySAC1
  device/downstream/device-samsung-gts210lte/APKBUILD
  device/downstream/linux-samsung-gts210lte/APKBUILD
  device/downstream/linux-samsung-gts210lte/config-samsung-gts210lte.armv7
Due: wiki, kernel-kconfig

linux-samsung-gts210lte: re-generate config and cleanup patches
  device/downstream/linux-samsung-gts210lte/0001-scripts-dtc-Remove-redundant-YYLOC-global-declaratio.patch
  device/downstream/linux-samsung-gts210lte/0002-kernel-use-the-gnu89-standard-explicitly.patch
  device/downstream/linux-samsung-gts210lte/0003-usb-gadget-use-random-eth-address.patch
  device/downstream/linux-samsung-gts210lte/0004-Makefile-ignore-bundled-toolchain.patch
  device/downstream/linux-samsung-gts210lte/0005-muic-fix-Kconfig-issue.patch
  device/downstream/linux-samsung-gts210lte/0006-security-tima_uevent-fix-kconfig-issue.patch
  device/downstream/linux-samsung-gts210lte/0007-irqchip-exynos-combiner-fix-compilation-issue-when-A.patch
  device/downstream/linux-samsung-gts210lte/APKBUILD
  device/downstream/linux-samsung-gts210lte/config-samsung-gts210lte.armv7
  device/downstream/linux-samsung-gts210lte/fix-check-lxdialog.patch
Due: kernel-kconfig

device-samsung-gts210lte: set getty to ttySAC1
  device/downstream/device-samsung-gts210lte/APKBUILD
  device/downstream/device-samsung-gts210lte/deviceinfo
  device/downstream/linux-samsung-gts210lte/APKBUILD
Due: wiki

device-samsung-gts210lte: re-add 90-sec_touchscreen.rules
  device/downstream/device-samsung-gts210lte/APKBUILD
Due: wiki

linux-next: upgrade to next-20250730
  device/testing/linux-next/APKBUILD
Due: none

linux-next: upgrade to next-20250731
  device/testing/linux-next/APKBUILD
Due: none

linux-postmarketos-qcom-msm89x7: Upgrade to v6.15.7-r1
  device/testing/linux-postmarketos-qcom-msm89x7/APKBUILD
  device/testing/linux-postmarketos-qcom-msm89x7/config-postmarketos-qcom-msm89x7.aarch64
Due: kernel-kconfig

device-raspberry-pi0: remove config.txt
  device/testing/device-raspberry-pi0/APKBUILD
  device/testing/device-raspberry-pi0/config.txt
Due: wiki

device-raspberry-pi0: fix booting, enable vc4-kms-v3d
  device/testing/device-raspberry-pi0/APKBUILD
  device/testing/device-raspberry-pi0/deviceinfo
  device/testing/device-raspberry-pi0/usercfg.txt
Due: wiki

device-raspberry-pi0: remove legacy video options from config.txt
  device/testing/device-raspberry-pi0/APKBUILD
  device/testing/device-raspberry-pi0/usercfg.txt
Due: wiki

u-boot-pine64-pinenote: upgrade to 2025.07
  device/testing/u-boot-pine64-pinenote/0001-board-rockchip-add-pine64-pinenote.patch
  device/testing/u-boot-pine64-pinenote/APKBUILD
Due: none

device-samsung-i927: enable initfs_extra
  device/testing/device-samsung-i927/APKBUILD
  device/testing/device-samsung-i927/deviceinfo
Due: wiki

device-samsung-coreprimevelte: use mmp subdir for DTs
  device/community/device-samsung-coreprimevelte/APKBUILD
  device/community/device-samsung-coreprimevelte/boot-image.its
  device/community/device-samsung-coreprimevelte/deviceinfo
Due: wiki

linux-samsung-coreprimevelte: upgrade to 6.15.8
  device/community/linux-samsung-coreprimevelte/0001-dt-bindings-mmc-sdhci-pxa-restrict-pinctrl-to-pxav1.patch
  device/community/linux-samsung-coreprimevelte/0002-dt-bindings-marvell-Document-PXA1908-SoC-and-samsung.patch
  device/community/linux-samsung-coreprimevelte/0003-arm64-Kconfig.platforms-Add-config-for-Marvell-PXA19.patch
  device/community/linux-samsung-coreprimevelte/0004-arm64-dts-Add-DTS-for-Marvell-PXA1908-and-samsung-co.patch
  device/community/linux-samsung-coreprimevelte/0005-MAINTAINERS-add-myself-as-Marvell-PXA1908-maintainer.patch
  device/community/linux-samsung-coreprimevelte/0006-dt-bindings-mwifiex-document-use-with-the-SD8777-chi.patch
  device/community/linux-samsung-coreprimevelte/0007-net-mwifiex-add-support-for-the-SD8777-chipset.patch
  device/community/linux-samsung-coreprimevelte/0008-Bluetooth-btmrvl_sdio-Add-support-for-SD8777-chipset.patch
  device/community/linux-samsung-coreprimevelte/0009-DONOTMERGE-arm64-dts-samsung-coreprimevelte-add-PMIC.patch
  device/community/linux-samsung-coreprimevelte/0010-DONOTMERGE-arm64-dts-samsung-coreprimevelte-add-touc.patch
  device/community/linux-samsung-coreprimevelte/0011-arm64-dts-samsung-coreprimevelte-Add-KTD2801-binding.patch
  device/community/linux-samsung-coreprimevelte/0012-DONOTMERGE-arm64-dts-samsung-coreprimevelte-add-SDIO.patch
  device/community/linux-samsung-coreprimevelte/0013-arm64-dts-samsung-coreprimevelte-enable-eMMC.patch
  device/community/linux-samsung-coreprimevelte/0014-arm64-dts-samsung-coreprimevelte-add-vibrator.patch
  device/community/linux-samsung-coreprimevelte/0015-DONOTMERGE-mmc-host-Disable-Tuning-failed-message.patch
  device/community/linux-samsung-coreprimevelte/0016-mmc-sdhci-pxav3-add-pinctrl-setting.patch
  device/community/linux-samsung-coreprimevelte/APKBUILD
  device/community/linux-samsung-coreprimevelte/config-samsung-coreprimevelte.aarch64
Due: kernel-kconfig

device-postmarketos-trailblazer: remove module dropped in 6.16
  device/testing/device-postmarketos-trailblazer/APKBUILD
  device/testing/device-postmarketos-trailblazer/modules-initfs
Due: wiki

device-qcom-rbx: remove module dropped in 6.16
  device/testing/device-qcom-rbx/APKBUILD
  device/testing/device-qcom-rbx/modules-initfs
Due: wiki

linux-postmarketos-qcom-laptop: upgrade to 6.16
  device/community/linux-postmarketos-qcom-laptop/APKBUILD
  device/community/linux-postmarketos-qcom-laptop/misc.config
Due: none

device-asus-s5507q: remove module dropped in 6.16, remove dependency on wifi fw pkg
  device/testing/device-asus-s5507q/APKBUILD
  device/testing/device-asus-s5507q/modules-initfs
Due: wiki

cross/musl-*: upgrade to 1.2.5-r17
  cross/musl-aarch64/APKBUILD
  cross/musl-armhf/APKBUILD
  cross/musl-armv7/APKBUILD
  cross/musl-riscv64/APKBUILD
  cross/musl-x86/APKBUILD
  cross/musl-x86_64/APKBUILD
Due: none

cross/gcc-*: upgrade to 15.1.1_git20250726-r0
  cross/gcc-aarch64/APKBUILD
  cross/gcc-armhf/APKBUILD
  cross/gcc-armv7/APKBUILD
  cross/gcc-riscv64/APKBUILD
  cross/gcc-x86/APKBUILD
  cross/gcc-x86_64/APKBUILD
Due: none

systemd/sddm: upgrade to 0.21.0-r6
  extra-repos/systemd/sddm/APKBUILD
  extra-repos/systemd/sddm/sddm.initd
Due: none

systemd/gdm: fix building with gcc 15
  extra-repos/systemd/gdm/APKBUILD
  extra-repos/systemd/gdm/gcc15.patch
Due: none

linux-next: upgrade to next-20250801
  device/testing/linux-next/APKBUILD
Due: none

zte-v0720: new device
  device/downstream/device-zte-v0720/APKBUILD
  device/downstream/device-zte-v0720/deviceinfo
  device/downstream/linux-zte-v0720/APKBUILD
  device/downstream/linux-zte-v0720/add-missing-semicolons.patch
  device/downstream/linux-zte-v0720/config-zte-v0720.armv7
  device/downstream/linux-zte-v0720/fix-check-lxdialog.patch
  device/downstream/linux-zte-v0720/gcc10-extern-yylloc-global-declaration.patch
  device/downstream/linux-zte-v0720/gcc7-give-up-on-ilog2-const-optimizations.patch
  device/downstream/linux-zte-v0720/gcc8-fix-put-user.patch
  device/downstream/linux-zte-v0720/mtk-wifi-export-symbol-fix.patch
  device/downstream/linux-zte-v0720/python3dct.patch
  device/downstream/linux-zte-v0720/replace-alloc-execinstr.patch
  device/downstream/linux-zte-v0720/replace-vararg-macros.patch
Due: wiki, kernel-kconfig

google-sargo: move openrc gnss service to openrc subpackage
  device/community/device-google-sargo/APKBUILD
Due: wiki

systemd/systemd-services: add service file for siglo
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/user-siglo.service
Due: none

systemd/systemd-services: add sysuser conf for ssh and dnsmasq
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/sysusers.d-dnsmasq.conf
  extra-repos/systemd/systemd-services/sysusers.d-sshd.conf
Due: none

systemd/gdm: add sysuser config
  extra-repos/systemd/gdm/APKBUILD
  extra-repos/systemd/gdm/gdm.sysusers
Due: none

u-boot-samsung-i9100: move to archived category
  device/archived/u-boot-samsung-i9100/0001-ARM-Use-armv7-a-instruction-set-for-ARMv7-CPUs.patch
  device/archived/u-boot-samsung-i9100/0002-Fix-ulong-type-not-defined.patch
  device/archived/u-boot-samsung-i9100/0003-Galaxy-S2-Load-kernel-from-KERNEL-partition.patch
  device/archived/u-boot-samsung-i9100/APKBUILD
Due: none

firmware-samsung-v1awifi: Add touchscreen config file
  device/testing/firmware-samsung-v1awifi/30-touchscreen-firmware.files
  device/testing/firmware-samsung-v1awifi/APKBUILD
  device/testing/firmware-samsung-v1awifi/maxtouch.cfg
Due: none

firmware-samsung-n2awifi: Add touchscreen config file
  device/testing/firmware-samsung-n2awifi/30-touchscreen-firmware.files
  device/testing/firmware-samsung-n2awifi/APKBUILD
  device/testing/firmware-samsung-n2awifi/maxtouch.cfg
Due: none

linux-postmarketos-mediatek-mt81: fix corsola audio
  device/community/linux-postmarketos-mediatek-mt81/APKBUILD
  device/community/linux-postmarketos-mediatek-mt81/mt8186-ASoC-hdmi-codec-Add-event-handler-for-hdmi-TX.patch
  device/community/linux-postmarketos-mediatek-mt81/mt8186-ASoC-mediatek-mt8186-make-FE-nonatomic-and-no_pcm.patch
  device/community/linux-postmarketos-mediatek-mt81/mt8186-SoC-mediatek-mt8186-correct-the-HDMI-widgets.patch
  device/community/linux-postmarketos-mediatek-mt81/mt8186-drm-bridge-it6505-Add-audio-support.patch
Due: none

device-google-sargo: install modem-gnss in subpackage for real
  device/community/device-google-sargo/APKBUILD
Due: wiki

linux-postmarketos-marvell: upgrade to 6.16
  device/testing/linux-postmarketos-marvell/APKBUILD
  device/testing/linux-postmarketos-marvell/config-postmarketos-marvell.armv7
Due: kernel-kconfig

systemd/gnome-shell: upgrade to 48.4
  extra-repos/systemd/gnome-shell/APKBUILD
Due: none

xkeyboard-config: upgrade to latest upstream
  device/community/device-nokia-n900/APKBUILD
  device/community/device-nokia-n900/xkb-keymap
  temp/xkeyboard-config/APKBUILD
  temp/xkeyboard-config/re-nokia.patch
Due: wiki

main/0xffff: upgrade 0.10
  main/0xffff/APKBUILD
Due: none

Path conditions:
  wiki: any of: .ci/**/*, .ci/build-jobs.yaml.j2, .gitlab-ci.yml, device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*, .ci/build-jobs.yaml.j2, .gitlab-ci.yml
  kernel-kconfig: (any of: kconfigcheck.toml) or (any of: device/*/linux-*/config-*)
