Repository sm8450-mainline/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

Path conditions:
  wiki: any of: .ci/**/*, .ci/build-jobs.yaml.j2, .gitlab-ci.yml, device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*, .ci/build-jobs.yaml.j2, .gitlab-ci.yml
  kernel-kconfig: (any of: kconfigcheck.toml) or (any of: device/*/linux-*/config-*)

main/bootchart2: upgrade to 0.14.9_git20220807
  main/bootchart2/20-python3.8.patch
  main/bootchart2/30-disable-interactive-mode.patch
  main/bootchart2/APKBUILD
Due: none

systemd/systemd-services: add service file for spectacle
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/user-app-org.kde.spectacle.service
Due: none

main/postmarketos-base: install sysctl.d configs under /usr
  main/postmarketos-base/APKBUILD
  main/postmarketos-base/rootfs-usr-lib-sysctl.d-90-disable-rp-filter.conf
  main/postmarketos-base/rootfs-usr-lib-sysctl.d-90-steam.conf
Due: none

device-qcom-msm8953: add wakeup keys for Lenovo ThinkSmart View
  device/community/device-qcom-msm8953/61-gmobile-wakeup-lenovo-cd18781y.hwdb
  device/community/device-qcom-msm8953/APKBUILD
Due: wiki

xiaomi-pyxis: new device
  device/testing/device-xiaomi-pyxis/APKBUILD
  device/testing/device-xiaomi-pyxis/deviceinfo
  device/testing/device-xiaomi-pyxis/modules-initfs
  device/testing/firmware-xiaomi-pyxis/APKBUILD
  device/testing/linux-xiaomi-pyxis/APKBUILD
  device/testing/linux-xiaomi-pyxis/config-xiaomi-pyxis.aarch64
Due: wiki, kernel-kconfig

linux-next: upgrade to next-20250804
  device/testing/linux-next/APKBUILD
Due: none

main/postmarketos-mkinitfs: upgrade to 2.6.3
  main/postmarketos-mkinitfs/APKBUILD
Due: none

Revert "main/bootchart2: upgrade to 0.14.9_git20220807"
  main/bootchart2/20-python3.8.patch
  main/bootchart2/30-disable-interactive-mode.patch
  main/bootchart2/APKBUILD
Due: none

main/postmarketos-base-ui-plasma: add replaces on plasma-mobile-meta
  main/postmarketos-base-ui-plasma/APKBUILD
Due: none

main/postmarketos-ui-plasma-mobile: add replaces on plasma-mobile-meta
  main/postmarketos-ui-plasma-mobile/APKBUILD
Due: none

systemd: enable bless-boot generator
  extra-repos/systemd/systemd/APKBUILD
Due: none

systemd: enable sysupdate
  extra-repos/systemd/systemd/APKBUILD
Due: none

systemd: enable systemd-import
  extra-repos/systemd/systemd/APKBUILD
Due: none

main/postmarketos-mkinitfs: upgade to 2.6.4
  main/postmarketos-mkinitfs/APKBUILD
Due: none

linux-next: upgrade to next-20250805
  device/testing/linux-next/APKBUILD
Due: none

systemd/systemd: fix boot on split-usr systems and cleanup meson options
  extra-repos/systemd/systemd/APKBUILD
Due: none

linux-next: upgrade to next-20250806
  device/testing/linux-next/APKBUILD
Due: none

temp/xkeyboard-config: workaround apk-tools bug
  temp/xkeyboard-config/APKBUILD
Due: none

device-nokia-n900: provide touch calibration data in initramfs
  device/community/device-nokia-n900/10-initfs-input.files
  device/community/device-nokia-n900/APKBUILD
Due: wiki

device-nokia-n900: initfs: add charger driver
  device/community/device-nokia-n900/APKBUILD
  device/community/device-nokia-n900/modules-initfs
Due: wiki

linux-next: upgrade to next-20250807
  device/testing/linux-next/APKBUILD
Due: none

temp/libcamera: upgrade to 0.5.2
  temp/libcamera/0001-libcamera-simple-Enable-softwareISP-for-the-librem5.patch
  temp/libcamera/0001-pipeline-simple-Fix-matching-with-empty-media-graphs.patch
  temp/libcamera/0002-libcamera-simple-Force-disable-softwareISP-for-milli.patch
  temp/libcamera/0003-libcamera-simple-Enable-softISP-for-the-Pinephone.patch
  temp/libcamera/0004-libcamera-simple-Skip-hwISP-formats-if-swISP-is-acti.patch
  temp/libcamera/0005-pipeline-simple-Consider-output-sizes-when-choosing-.patch
  temp/libcamera/0006-pipeline-simple-Increase-internal-buffer-count-to-fo.patch
  temp/libcamera/0007-ipa-simple-Add-tuning-file-for-IMX355.patch
  temp/libcamera/0008-ipa-simple-Add-tuning-file-for-IMX363.patch
  temp/libcamera/0009-ipa-simple-Add-tuning-file-for-s5k3l6xx.patch
  temp/libcamera/0010-ipa-simple-Add-tuning-file-for-hi846.patch
  temp/libcamera/0011-ipa-simple-Add-tuning-file-for-IMX371.patch
  temp/libcamera/0011-ipa-simple-Add-tuning-file-for-hi846.patch
  temp/libcamera/0012-ipa-simple-Add-tuning-file-for-IMX376.patch
  temp/libcamera/APKBUILD
Due: none

main/postmarketos-bootsplash: Fix PMOS_NOSPLASH typo
  main/postmarketos-bootsplash/99-shutdown-pbsplash.stop
  main/postmarketos-bootsplash/APKBUILD
Due: none

linux-next: upgrade to next-20250808
  device/testing/linux-next/APKBUILD
Due: none

qemu-{aarch64,amd64}: use zstd for initramfs compression
  device/main/device-qemu-aarch64/APKBUILD
  device/main/device-qemu-aarch64/deviceinfo
  device/main/device-qemu-amd64/APKBUILD
  device/main/device-qemu-amd64/deviceinfo
Due: wiki

linux-postmarketos-qcom-msm8994: upgrade to 6.16
  device/testing/linux-postmarketos-qcom-msm8994/0001-arm64-dts-qcom-msm8994-huawei-angler-Add-regulators.patch
  device/testing/linux-postmarketos-qcom-msm8994/APKBUILD
  device/testing/linux-postmarketos-qcom-msm8994/config-postmarketos-qcom-msm8994.aarch64
Due: kernel-kconfig

cross/systemd-boot-x86: upgrade to 257.8
  cross/systemd-boot-x86/APKBUILD
Due: none

cross/busybox-static-*: upgrade to 1.37.0-r22
  cross/busybox-static-aarch64/APKBUILD
  cross/busybox-static-armhf/APKBUILD
  cross/busybox-static-armv7/APKBUILD
Due: none

linux-postmarketos-apple-16k: upgrade to 6.16.0
  device/testing/linux-postmarketos-apple-16k/APKBUILD
Due: none

linux-postmarketos-apple-4k: upgrade to 6.16.0 and sync config with 16k version
  device/testing/linux-postmarketos-apple-4k/APKBUILD
  device/testing/linux-postmarketos-apple-4k/config-postmarketos-apple-4k.aarch64
Due: kernel-kconfig

bq-tenshi: move to archived
  device/archived/device-bq-tenshi/APKBUILD
  device/archived/device-bq-tenshi/deviceinfo
  device/archived/linux-bq-tenshi/00_fix_rndis_ipa_trace_header_not_found.patch
  device/archived/linux-bq-tenshi/01_prima_gcc6.patch
  device/archived/linux-bq-tenshi/02_prima_misleading_indentation.patch
  device/archived/linux-bq-tenshi/03_fix_u_f_header.patch
  device/archived/linux-bq-tenshi/04_fix_usb_gadget_function.patch
  device/archived/linux-bq-tenshi/APKBUILD
  device/archived/linux-bq-tenshi/config-bq-tenshi.armv7
  device/archived/linux-bq-tenshi/fix-assembler-junk.patch
  device/archived/linux-bq-tenshi/gcc10-extern_YYLOC_global_declaration.patch
  device/archived/linux-bq-tenshi/gcc7-give-up-on-ilog2-const-optimizations.patch
  device/archived/linux-bq-tenshi/gcc8-fix-put-user.patch
Due: wiki, kernel-kconfig

*/*: update my email address
  .mailmap
  device/archived/device-bq-tenshi/APKBUILD
  device/archived/linux-bq-tenshi/APKBUILD
  device/testing/device-raspberry-pi3/APKBUILD
  extra-repos/systemd/gnome-logs/APKBUILD
  extra-repos/systemd/phosh/APKBUILD
  main/postmarketos-base-ui-gnome-mobile/APKBUILD
  main/postmarketos-base-ui-gnome/APKBUILD
  main/postmarketos-ui-gnome-mobile/APKBUILD
  main/postmarketos-ui-gnome/APKBUILD
  main/postmarketos-ui-i3wm/APKBUILD
  main/postmarketos-ui-phosh/APKBUILD
Due: wiki

m1n1-apple-idevice: new bootloader package
  device/testing/m1n1-apple-idevice/0001-vendor-dependencies-with-cargo-instead-of-git.patch
  device/testing/m1n1-apple-idevice/APKBUILD
Due: none

apple-idevice: add m1n1-apple-idevice to depends
  device/testing/device-apple-idevice/APKBUILD
Due: wiki

device-nokia-n900: improve wlroots support and initramfs charging
  device/community/device-nokia-n900/APKBUILD
  device/community/device-nokia-n900/etc-profile.d-25wlr-pixman.sh
  device/community/device-nokia-n900/modules-initfs
Due: wiki

linux-postmarketos-qcom-sc7280: upgrade to 6.16.0
  device/testing/linux-postmarketos-qcom-sc7280/APKBUILD
  device/testing/linux-postmarketos-qcom-sc7280/config-postmarketos-qcom-sc7280.aarch64
Due: kernel-kconfig

linux-postmarketos-qcom-sm6350: upgrade to 6.16.0
  device/community/linux-postmarketos-qcom-sm6350/APKBUILD
  device/community/linux-postmarketos-qcom-sm6350/config-postmarketos-qcom-sm6350.aarch64
Due: kernel-kconfig

linux-pine64-pinenote: upgrade to 6.15.9
  device/testing/linux-pine64-pinenote/APKBUILD
  device/testing/linux-pine64-pinenote/config-pine64-pinenote.aarch64
Due: kernel-kconfig

systemd: Don't ship /usr/share/factory
  extra-repos/systemd/systemd/APKBUILD
Due: none

u-boot-pine64-pinenote: set blob versions on seperate lines
  device/testing/u-boot-pine64-pinenote/APKBUILD
Due: none
