Repository sm8450-mainline/pmaports: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

Path conditions:
  wiki: any of: .ci/**/*, .ci/build-jobs.yaml.j2, .gitlab-ci.yml, device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*, .ci/build-jobs.yaml.j2, .gitlab-ci.yml
  kernel-kconfig: (any of: kconfigcheck.toml) or (any of: device/*/linux-*/config-*)

firmware-odroid-u2: add dependency on linux-firmware-s5p-mfc
  device/testing/firmware-odroid-u2/APKBUILD
Due: none

main/postmarketos-base: allow to use doas for different users than root
  main/postmarketos-base/APKBUILD
  main/postmarketos-base/rootfs-etc-doas.d-10-postmarketos.conf
Due: none

linux-asus-tf101: drop
  device/downstream/linux-asus-tf101/00-fix_return_address.patch
  device/downstream/linux-asus-tf101/01-fix-alignment.patch
  device/downstream/linux-asus-tf101/02-fix_static_vma_address.patch
  device/downstream/linux-asus-tf101/04-Revert-Update-TF101.patch
  device/downstream/linux-asus-tf101/05-Revert-Update-TF101.patch
  device/downstream/linux-asus-tf101/06-Enable-USB-Networking.patch
  device/downstream/linux-asus-tf101/07-Added-Parameters-to-Atmel-TouchScreen-Drivers.patch
  device/downstream/linux-asus-tf101/APKBUILD
  device/downstream/linux-asus-tf101/config-asus-tf101.armv7
  device/downstream/linux-asus-tf101/timeconst.pl-Eliminate-Perl-warning.patch
Due: kernel-kconfig

main/postmarketos-qemu-common: support ppc64le (MR 5774)
  main/postmarketos-qemu-common/APKBUILD
Due: none

main/qemu-ppc64le: new device (MR 5774)
  device/main/device-qemu-ppc64le/APKBUILD
  device/main/device-qemu-ppc64le/deviceinfo
  device/main/device-qemu-ppc64le/modules-initfs
Due: wiki

device/archived/firmware-*: add Archived comments
  device/archived/firmware-hisense-m470bsa/APKBUILD
  device/archived/firmware-huawei-alice/APKBUILD
  device/archived/firmware-mobvoi-skipjack/APKBUILD
  device/archived/firmware-motorola-def/APKBUILD
  device/archived/firmware-samsung-crespo/APKBUILD
  device/archived/firmware-samsung-j6primelte/APKBUILD
  device/archived/firmware-samsung-kiran/APKBUILD
  device/archived/firmware-samsung-nevisp/APKBUILD
  device/archived/firmware-samsung-superior/APKBUILD
  device/archived/firmware-sony-falconss/APKBUILD
  device/archived/firmware-xiaomi-willow/APKBUILD
Due: none

cross/.gitlab-ci.yml: fix building 3 pkgs
  cross/.gitlab-ci.yml
Due: none

cross/.gitlab-ci.yml: add tags: [qemu]
  cross/.gitlab-ci.yml
Due: none

cross/.gitlab-ci.yml: store log on error
  cross/.gitlab-ci.yml
Due: none

systemd/kscreenlocker: upgrade to 6.4.4
  extra-repos/systemd/kscreenlocker/APKBUILD
Due: none

systemd/plasma-workspace: upgrade to 6.4.4
  extra-repos/systemd/plasma-workspace/APKBUILD
Due: none

systemd/kwin: upgrade to 6.4.4
  extra-repos/systemd/kwin/APKBUILD
Due: none

systemd/systemd-services: add system-watchdog-kick.service
  extra-repos/systemd/systemd-services/APKBUILD
  extra-repos/systemd/systemd-services/system-watchdog-kick.service
Due: none

systemd/drkonqi: upgrade to 6.4.4
  extra-repos/systemd/drkonqi/APKBUILD
Due: none

main/lk2nd: Upgrade to 21.0
  main/lk2nd/APKBUILD
Due: none

linux-postmarketos-qcom-sm8450: new package
  device/testing/linux-postmarketos-qcom-sm8450/APKBUILD
  device/testing/linux-postmarketos-qcom-sm8450/config-postmarketos-qcom-sm8450.aarch64
Due: kernel-kconfig

nothing-pong: new device
  device/testing/device-nothing-pong/APKBUILD
  device/testing/device-nothing-pong/deviceinfo
  device/testing/device-nothing-pong/modules-initfs
Due: wiki

xiaomi-cupid: new device
  device/testing/device-xiaomi-cupid/APKBUILD
  device/testing/device-xiaomi-cupid/device-xiaomi-cupid-nonfree-firmware.post-install
  device/testing/device-xiaomi-cupid/device-xiaomi-cupid.post-install
  device/testing/device-xiaomi-cupid/device-xiaomi-cupid.post-upgrade
  device/testing/device-xiaomi-cupid/deviceinfo
  device/testing/firmware-xiaomi-cupid/30-initramfs-firmware.files
  device/testing/firmware-xiaomi-cupid/APKBUILD
Due: wiki

xiaomi-diting: new device
  device/testing/device-xiaomi-diting/APKBUILD
  device/testing/device-xiaomi-diting/device-xiaomi-diting-nonfree-firmware.post-install
  device/testing/device-xiaomi-diting/device-xiaomi-diting.post-install
  device/testing/device-xiaomi-diting/device-xiaomi-diting.post-upgrade
  device/testing/device-xiaomi-diting/deviceinfo
  device/testing/firmware-xiaomi-diting/30-initramfs-firmware.files
  device/testing/firmware-xiaomi-diting/APKBUILD
Due: wiki

Fixups
  device/testing/device-nothing-pong/APKBUILD
  device/testing/device-xiaomi-cupid/APKBUILD
  device/testing/device-xiaomi-cupid/deviceinfo
  device/testing/device-xiaomi-diting/APKBUILD
Due: wiki

testing/xiaomi-cupid: Updates
  device/testing/device-xiaomi-cupid/APKBUILD
  device/testing/device-xiaomi-cupid/device-xiaomi-cupid-nonfree-firmware.post-install
  device/testing/device-xiaomi-cupid/device-xiaomi-cupid-openrc.post-install
  device/testing/device-xiaomi-cupid/device-xiaomi-cupid-openrc.post-upgrade
  device/testing/device-xiaomi-cupid/device-xiaomi-cupid.post-upgrade
  device/testing/device-xiaomi-cupid/deviceinfo
Due: wiki
